
/* 共通 */

img{
    max-width: 100%;
    height: auto;
}

/* blog */

.hedArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 50px;
    background: #dadada;
}

.hedBtnBox > a {
    background: #000;
    color: #fff;
    text-decoration: none;
    padding: 5px 25px;
    border-radius: 25px;
    margin-right: 10px;
}

.hedLogoBox {
    color: #5a5a5a;
}

.postBox {
    border-radius: 25px;
    border: solid #333 1px;
    overflow: hidden;
}

.postImgItme {
    min-height: 250px;
    background: #d5d5d5;
}

.postImgItme > img{
    object-fit: cover;
}

.postTxtItem {
    padding: 13px 20px 10px;
}

.categoryTxt,
.author{
    color: #0f8fa8;
}

.postTit{
    font-weight: 600;
}

.updateTime{
    color: #999;
}

.postArea{
    margin-top: 20px;
}

.postArea:first-child{
    margin-top: 0;
}

/* blogDetail　*/

.blogDetailArea {
    background: #dfdfdf;
    border-radius: 25px;
    padding: 2%;
}

.blogDetailUserImgBox {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
}

.blogDetailImgBox {
    min-height: 400px;
    background: #333;
    margin-top: 20px;
}

.blogDetailTxtBox{
    margin-top: 20px;
}

.morepostImgBox {
    min-height: 150px;
    width: 100%;
    margin: auto;
    background: #dfdfdf;
    border: solid 1px #333;
}

.commentTxtArea {
    width: 100%;
}

.commentUserImgBox{
    width: 80px;
    height: 80px;
    background: #333;
    border-radius: 50%;
}

@media screen and (min-width:768px) {
    .postArea{
        margin-top: 0;
    }
}