
/* 共通 */

img{
    max-width: 100%;
    height: auto;
}

/* header */

.hedArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 50px;
    background: #dadada;
}

.hedBtnBox > a {
    background: #000;
    color: #fff;
    text-decoration: none;
    padding: 5px 25px;
    border-radius: 25px;
    margin-right: 10px;
}

.hedLogoBox {
    color: #5a5a5a;
}

.postBox {
    border-radius: 25px;
    border: solid #333 1px;
    overflow: hidden;
}

.postImgItem {
    min-height: 250px;
    background: #d5d5d5;
}

.postImgItem > img{
    object-fit: cover;
}

.hedBtnArea{
    display: flex;
}

.postTxtItem {
    padding: 13px 20px 10px;
}

.categoryTxt,
.author{
    color: #0f8fa8;
}

.postTit{
    font-weight: 600;
}

.updateTime{
    color: #999;
}

.postArea{
    margin-top: 20px;
}

.postArea:first-child{
    margin-top: 0;
}

/* ToDo: ページネーションのCSSがうまく反映されない */
.pagenation > div > .hidden{
    flex-direction:column-reverse !important;
}

/* blogDetail　*/

.blogDetailArea {
    background: #dfdfdf;
    border-radius: 25px;
    padding: 2%;
}

.blogDetailUserImgBox {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
}

.blogDetailImgBox {
    min-height: 400px;
    background: #333;
    margin-top: 20px;
}

.blogDetailTxtBox{
    margin-top: 20px;
}

.morepostImgBox {
    min-height: 150px;
    width: 100%;
    margin: auto;
    background: #dfdfdf;
    border: solid 1px #333;
}

.commentTxtArea {
    width: 100%;
}

.commentUserImgBox{
    width: 80px;
    height: 80px;
    background: #333;
    border-radius: 50%;
}

/* blogDetail　*/

.profileTit {
    font-size: 3rem;
    color: #7a7a7a;
    text-align: center;
}

/* write */

.writeContainer{
    padding: 0 2%;
}

.writeTit{
    position: relative;
    display: inline-block;
    padding: 0 10px 0 0;
    color: #333;
}

.writeTit::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background: #333;
    right: 0;
}

.writeImgBox {
    display: flex;
    flex-direction: column;
    padding: 100px 30px;
    border: 2px dashed #333;
    border-radius: 25px;
}

.writeImgInput {
    display: inline-block;
    margin: auto;
}

.writeImgBtn {
    display: block;
}

.writeImgBtn {
    background: #0f8fa8;
    color: #fff;
    border: none;
    border-radius: 25px;
    max-width: 300px;
    width: 100%;
    padding: 10px 10px;
    margin: 20px auto 0;
}

.createBtn {
    background: #108fa8;
    color: #fff;
    border: none;
    padding: 5px 20px;
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 0 0 auto;
}

.loginSec{
    width: 100%;
    padding: 100px 20px 0;
}

@media screen and (min-width:768px) {

    /* blog */
    .postArea{
        margin-top: 0;
    }

}